@media  ( max-width: 1439px )
    .firstSection
        &__text
            padding-top: 72px
            padding-right: 24px

    .fifthSection
        &__text
            margin-left: 24px
            padding-top: 58px
            &_headText
                padding-bottom: 164px
    .sixthSection
        &__text
            &_aboutText
                padding-bottom: 204px

    .sevenSection
        &__text
            &_headText
                padding-bottom: 24px
            &_mainText
                padding-bottom: 12px
                width: 164px
        &__block
            width: 100%
            &:not(last-child)
                margin-right: 4px
            &:last-child
                margin-right: 16px

@media  (min-width: 1025px ) and (max-width: 1148px)
    .centre
        padding-left: calc(50vw - 512px)
        padding-right: calc(50vw - 512px)
    .firstSection
        &__text
            margin-left: 64px
            padding-top: 64px
            padding-bottom: 24px
    .secondSection
        &__text
            &_headText
                transform: translateX(-112px)
    .fifthSection
        &__text
            margin-right: 0
            margin-left: 24px
            padding-top: 97px
            &_headText
                padding-bottom: 84px
                font-size: 14px
            &_mainText
                font-size: 28px
                line-height: 53px
                padding-bottom: 98px
            &_link
                font-size: 14px
                margin-top: 191px

    .sixthSection
        &__text
            margin-left: 164px
            &_aboutText
                padding-bottom: 46px
                font-size: 14px
            &_headText
                padding-bottom: 46px
                font-size: 56px
                line-height: 74px
            &_mainText
                font-size: 28px
                line-height: 53px
                padding-bottom: 98px
            &_link
                font-size: 14px

    .sevenSection
        &__block
            text-align: center
        &__text
            flex-direction: column
            margin: 0 auto
            padding-top: 0
            justify-content: space-around
            &_headText
                font-size: 12px
                padding-bottom: 14px
            &_mainText
                font-size: 12px
                line-height: 16px
@media  ( max-width: 1024px ) and (min-width: 768px)
    .centre
        padding-left: calc(50vw - 384px)
        padding-right: calc(50vw - 384px)
    .header
        &__top
            padding-left: 64px
            padding-right: 64px
        &__body
            margin-left: 64px
            &_headText
                font-size: 38px
                line-height: 48px
            &_mainText
                font-size: 20px
                line-height: 32px
    .firstSection
        &__text
            margin-left: 0
            padding-top: 0
            margin: 8px
            &_headText
                margin-top: 32px
                margin-bottom: 108px
            &_part1
                font-size: 18px
                line-height: 24px
            &_part2
                font-size: 16px
                line-height: 20px

    .secondSection__text_headText
        transform: translate(-2px , -78px)
    .thirdSection
        grid-template-columns: repeat(auto-fit, minmax(240px, 360px))
        &__block
            width: 360px
            height: 360px
            &_firstLayer
                width: 360px
                height: 360px
    .fourthSection
        grid-template-columns: repeat(auto-fit, minmax(240px, 280px))
        grid-gap: 16px
    .fifthSection
        &__text
            margin-right: 0
            padding-top: 0
            margin: 8px
            &_headText
                padding-bottom: 132px
                padding-top: 32px
                align-self: flex-end
            &_mainText
                font-size: 24px
                line-height: 36px
                padding-bottom: 100%
                text-align: end
            &_link
                align-self: flex-end
    .sixthSection
        &__text
            margin-left: 0
            padding-top: 0
            margin: 8px
            &_aboutText
                padding-bottom: 128px
                padding-top: 32px
            &_headText
                font-size: 48px
                line-height: 48px
                padding-bottom: 24px
            &_mainText
                font-size: 24px
                line-height: 36px
                padding-bottom: 100%
    .sevenSection
        justify-content: center
        align-items: center
        position: relative
        &__img
            opacity: 0.3
        &__text
            position: absolute
            padding-top: 0
            margin: 0
        &__block
            text-align: center
            &:not(last-child)
                margin-right: 0
            &:last-child
                margin-right: 0

// @media  ( max-width: 900px ) and (min-width: 768px)

@media  ( max-width: 767px  )
    .header
        &__top
            padding: 8px
            flex-direction: column
            background-color: aqua
            &_logo
                font-size: 36px
                line-height: 48px
            &_btn
                margin-top: 48px
        &__body
            width: 100%
            margin: 0
            padding: 8px
            padding-top: 48px
            &_btn
                margin-bottom: 48px
        &__backgroundImg
            display: none
        &__backgroundColor
            display: none
        &__backgroundElem
            width: 60%
            height: 60%
    .firstSection
        overflow: hidden
        position: relative
        &__text
            position: absolute
            z-index: 1
            margin-left: 0
            margin: 0
            padding: 8px
            width: 100%
            padding-top: 24px
        &__img
            position: absolute
            left: -50px
            opacity: 0.3
    .secondSection
        &__text
            &_headText
                position: absolute
                transform: translateX(0)
                transform: translateY(-78px)
            &_centreText
                text-align: center
    .thirdSection
        &__block
            width: 360px
            height: 360px
            &_firstLayer
                width: 360px
                height: 360px
    .fifthSection
        position: relative
        overflow: hidden
        &__text
            width: 100%
            position: absolute
            margin-right: 0
            margin-left: 0
            padding-top: 0
            margin: 0
            padding: 8px

            &_headText
                padding-bottom: 132px
                padding-top: 32px
                align-self: flex-end
            &_mainText
                font-size: 24px
                line-height: 36px
                padding-bottom: 60%
                text-align: end
            &_link
                align-self: flex-end
        &__img
            position: absolute
            opacity: 0.3
            left: -92px
    .sixthSection
        position: relative
        overflow: hidden
        &__img
            position: absolute
            opacity: 0.3
            left: -33px
        &__text
            position: absolute
            z-index: 1
            margin-left: 0
            padding-top: 22px
            padding: 8px
            width: 100%
            &_aboutText
                padding-bottom: 88px
                padding-top: 12px
            &_mainText
                padding-bottom: 34%
    .sevenSection
        justify-content: center
        align-items: center
        position: relative
        overflow: hidden
        min-height: 0
        &__img
            opacity: 0.3
        &__text
            flex-direction: column
            position: absolute
            padding-top: 0
            margin: 0
            &_headText
                padding-bottom: 0
            &_mainText
                font-size: 12px
        &__block
            text-align: center
            &:not(last-child)
                margin-right: 0
            &:last-child
                margin-right: 0
    .footer
        &__cText
            padding-left: 0
            padding-top: 35px
            justify-content: center

@media ( max-width: 374px )
    .secondSection__info_block
        width: 260px
        height: 260px
    .secondSection__info_blockText
        font-size: 24px
    .thirdSection
        &__block
            width: 260px
            height: 260px
            &_text
                font-size: 24px
                text-align: center
            &_line
                width: 255px
                margin-top: 52px
            &_firstLayer
                width: 260px
                height: 260px
    .fourthSection
        grid-template-columns: repeat(auto-fit, minmax(260px, 260px))
        &__block
            width: 260px
