@media  ( max-width: 1439px )
    .firstSection
        &__text
            padding-top: 72px
            padding-right: 24px

    .fifthSection
        &__text
            margin-left: 24px
            padding-top: 58px
            &_headText
                padding-bottom: 164px
    .sixthSection
        &__text
            &_aboutText
                padding-bottom: 204px

    .sevenSection
        &__text
            &_headText
                padding-bottom: 24px
            &_mainText
                padding-bottom: 12px
                width: 164px
        &__block
            width: 100%
            &:not(last-child)
                margin-right: 4px
            &:last-child
                margin-right: 16px

@media  (min-width: 1025px ) and (max-width: 1148px)
    .centre
        padding-left: calc(50vw - 512px)
        padding-right: calc(50vw - 512px)
    .firstSection
        &__text
            margin-left: 64px
            padding-top: 64px
            padding-bottom: 24px
    .secondSection
        &__text
            &_headText
                transform: translateX(-112px)
    .fifthSection
        &__text
            margin-right: 0
            margin-left: 24px
            padding-top: 97px
            &_headText
                padding-bottom: 84px
                font-size: 14px
            &_mainText
                font-size: 28px
                line-height: 53px
                padding-bottom: 98px
            &_link
                font-size: 14px
                margin-top: 191px

    .sixthSection
        &__text
            margin-left: 164px
            &_aboutText
                padding-bottom: 46px
                font-size: 14px
            &_headText
                padding-bottom: 46px
                font-size: 56px
                line-height: 74px
            &_mainText
                font-size: 28px
                line-height: 53px
                padding-bottom: 98px
            &_link
                font-size: 14px

    .sevenSection
        &__block
            text-align: center
        &__text
            flex-direction: column
            margin: 0 auto
            padding-top: 0
            justify-content: space-around
            &_headText
                font-size: 12px
                padding-bottom: 14px
            &_mainText
                font-size: 12px
                line-height: 16px
@media  ( max-width: 1024px )
    .centre
        padding-left: calc(50vw - 384px)
        padding-right: calc(50vw - 384px)

// @media  ( max-width: 900px ) and (min-width: 768px)

// @media  ( max-width: 767px  )

// @media ( max-width: 374px )
