/* //////////PAGE Setting\\\\\\\\\\ */

html,
body
    height: 100%

.wrapper
    min-height: 100%
    display: flex
    flex-direction: column

.top
    flex-grow: 1

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif
    outline: none

a
    text-decoration: none

.centre
    padding-left: calc(50vw - 720px)
    padding-right: calc(50vw - 720px)

/* //////////PAGE Top\\\\\\\\\\ */

.header
    min-height: 840px
    position: relative
    background: #F4F9E2
    z-index: 1
    &__backgroundColor
        position: absolute
        background: #ffff
        width: 24%
        height: 100%
        right: 0
        z-index: -3
    &__backgroundImg
        position: absolute
        background: url(../img/backImg.png)
        background-size: 48%
        background-repeat: no-repeat
        width: 100%
        height: 100%
        background-position: top right
        top: 42px
        z-index: -1
    &__backgroundElem
        position: absolute
        background: url(../img/backElem1.svg)
        background-repeat: no-repeat
        background-position: top right
        width: 100%
        height: 100%
        z-index: -2

    &__top
        display: flex
        justify-content: space-between
        align-items: center
        padding-left: 180px
        padding-right: 130px
        padding-top: 28px
        &_logo
            font-size: 24px
            line-height: 27px
            color: #62D0DF
        &_links
            font-size: 14px
            line-height: 16px
            color: #22356F
            margin-left: 16px
            padding-bottom: 10px
            &:hover
                border-bottom: 2px solid #22356F
        &_btn
            width: 150px
            height: 50px
            background: #62D0DF
            border-radius: 50px
            border: none
            outline: none
            transition: background 0.2s
            font-size: 14px
            line-height: 16px
            color: #FFFFFF
            &:hover
                background: #62D0DF - #111111
    &__body
        padding-top: 164px
        margin-left: 180px
        width: 484px
        &_logo
            @extend .header__top_logo
            display: block
            padding-bottom: 38px
        &_headText
            font-size: 48px
            line-height: 62px
            letter-spacing: -0.035em
            color: #22356F
            padding-bottom: 68px
        &_mainText
            font-size: 24px
            line-height: 42px
            color: #22356F
            font-weight: 400
            padding-bottom: 64px
        &_btn
            width: 150px
            height: 50px
            font-size: 16px
            line-height: 23px
            letter-spacing: 0.1em
            color: #FAB63E
            border: 0
            background: #F4F9E2
            margin-bottom: 74px
            &:hover
                background: #F9B640 -#111111
                color: #FFFFFF
        &_checkedBtn
            background: #F9B640
            color: #FFFFFF
.firstSection
    min-height: 604px
    background: #62D0DF
    display: flex
    justify-content: space-between
    &__text
        width: 555px
        margin-left: 180px
        padding-top: 150px
        padding-bottom: 94px
        &_headText
            color: #FFFFFF
            font-size: 36px
            line-height: 27px
            letter-spacing: -0.006em
            margin-bottom: 74px
        &_part1
            color: #FFFFFF
            font-size: 24px
            line-height: 40px
        &_part2
            color: #FFFFFF
            font-size: 20px
            line-height: 35px
            font-weight: 300
    &__img
        width: 525px
        height: 604px
        align-self: center
.secondSection

    min-height: 960px
    background: #FFFFFF
    &__text
        display: flex
        justify-content: center
        &_centreText
            width: 592px
            margin-top: 150px
        &_headText
            font-size: 16px
            line-height: 23px
            letter-spacing: 0.06em
            color: #22356F
            font-weight: 400
            margin-top: 156px
            transform: translateX(-225px)
        &_mainText
            font-size: 24px
            font-weight: 600
            line-height: 38px
            letter-spacing: 0.005em
            color: #22356F
            margin-bottom: 76px
        &_bottomText
            font-size: 16px
            line-height: 19px
            text-align: center
            letter-spacing: 0.06em
            color: rgba(34, 53, 111, 0.5)
            font-weight: 400
            margin-bottom: 24px
    &__info
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(256px, 360px))
        justify-items: center
        justify-content: center
        margin-bottom: 120px
        &_ellipse
            padding-right: 15px
        &_block1
            background: #FFE2DE
        &_block2
            background: #C4E769
        &_block3
            background: #62D0DF
        &_block4
            background: #0052C1
        &_block
            display: flex
            flex-direction: column
            align-items: center
            width: 360px
            height: 360px
            transition: transform 0.2s
            &:hover
                transform: scale(1.05)
                box-shadow: 0px 0px 8px 0px rgba(98, 144, 219, 0.2)

        &_line
            width: 255px
            height: 2px
            box-shadow: inset 0px -1px 0px #FFFFFF
            background: #ffffff
            margin-top: 72px
        &_blockText
            font-size: 32px
            line-height: 34px
            letter-spacing: -0.006em
            color: #FFFFFF
            margin-top: 24px
.thirdSection
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(340px, 480px))
    justify-items: center
    justify-content: center
    &__block
        position: relative
        z-index: 1
        width: 480px
        height: 480px
        display: flex
        justify-content: center
        &:hover .thirdSection__block_firstLayer
            display: block

        &_ellipse
            padding-right: 20px
        &_1
            background: #22356F
        &_2
            background: #0052C1
        &_3
            background: #FFE2DE
        &_4
            background: #62D0DF
        &_5
            background: #DEE1FF
        &_6
            background: #8F00FF
        &_line
            width: 340px
            height: 2px
            box-shadow: inset 0px -1px 0px #FFFFFF
            background: #ffffff
            margin-top: 94px
        &_text
            font-size: 32px
            line-height: 32px
            letter-spacing: -0.006em
            color: #FFFFFF
            margin-top: 30px
            list-style-type: none
        &_firstLayer
            width: 480px
            height: 480px
            position: absolute
            z-index: -1
            display: none
.fourthSection
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(340px, 480px))
    justify-items: center
    justify-content: center
    margin-top: 22px
    margin-bottom: 40px

    &__block
        min-height: 240px
        width: 298px
        transition: all 0.2s
        &:hover
            transform: scale(1.05)
        &_headText
            font-size: 28px
            line-height: 33px
            letter-spacing: -0.03em
            color: #22356F
            padding-top: 55px
            padding-bottom: 28px
        &_mainText
            font-size: 16px
            line-height: 25px
            letter-spacing: -0.03em
            color: rgba(34, 53, 111, 0.5)
.fifthSection
    min-height: 800px
    display: flex
    justify-content: space-between

    &__img
        width: 480px
        height: 800px
        align-self: center
    &__text
        display: flex
        flex-direction: column
        align-items: end
        margin-right: 175px
        padding-top: 103px
        width: 676px
        &_headText
            font-size: 16px
            line-height: 12px
            letter-spacing: 0.06em
            color: #22356F
            padding-bottom: 225px
        &_mainText
            font-size: 36px
            font-weight: 600
            line-height: 53px
            letter-spacing: -0.01em
            color: #22356F
            padding-bottom: 176px
        &_mainTextLink
            color: #62D0DF
        &_link
            margin-bottom: 42px
            font-size: 16px
            line-height: 23px
            letter-spacing: 0.1em
            color: #FAB63E
.sixthSection
    min-height: 800px
    display: flex
    justify-content: space-between
    background: #22356F

    &__img
        width: 480px
        height: 800px
        align-self: center
    &__text
        display: flex
        flex-direction: column
        align-items: end
        margin-left: 180px
        padding-top: 103px
        width: 579px
        &_aboutText
            font-size: 16px
            line-height: 12px
            letter-spacing: 0.06em
            color: #FFFFFF
            padding-bottom: 230px
        &_headText
            font-size: 64px
            line-height: 94px
            letter-spacing: -0.01em
            color: #FFFFFF
            padding-bottom: 75px
        &_mainText
            font-size: 36px
            line-height: 53px
            letter-spacing: -0.005em
            color: #FFFFFF
            padding-bottom: 64px
        &_link
            font-size: 16px
            line-height: 23px
            letter-spacing: 0.1em
            color: #62D0DF
            margin-bottom: 42px
.sevenSection
    min-height: 380px
    display: flex
    justify-content: space-between

    &__img
        width: 570px
        height: 380px
        align-self: center
    &__text
        display: flex
        justify-content: space-between
        padding-top: 98px
        margin-bottom: 42px
        &_headText
            font-size: 14px
            line-height: 11px
            letter-spacing: -0.006em
            padding-bottom: 54px
            color: #22356F
        &_mainText
            font-size: 14px
            line-height: 23px
            letter-spacing: -0.006em
            color: rgba(34, 53, 111, 0.5)
            padding-bottom: 32px
            width: 207px
    &__block
        width: 240px
        &:not(last-child)
            margin-right: 16px
        &:last-child
            margin-right: 40px
    /* //////////PAGE Footer\\\\\\\\\\ */
.footer
    background-color: #62D0DF
    height: 80px
    &__cText
        display: flex
        padding-top: 32px
        padding-left: 180px
        &_sym
            font-size: 12px
            color: #FFFFFF
        &_text
            color: #FFFFFF
            font-size: 14px
            line-height: 14px
            margin-left: 6px
