/* //////////PAGE Setting\\\\\\\\\\ */
html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  outline: none;
}

a {
  text-decoration: none;
}

.centre {
  padding-left: calc(50vw - 720px);
  padding-right: calc(50vw - 720px);
}

/* //////////PAGE Top\\\\\\\\\\ */
.header {
  min-height: 840px;
  position: relative;
  background: #F4F9E2;
  z-index: 1;
}

.header__backgroundColor {
  position: absolute;
  background: #ffff;
  width: 24%;
  height: 100%;
  right: 0;
  z-index: -3;
}

.header__backgroundImg {
  position: absolute;
  background: url(../img/backImg.png);
  background-size: 48%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: top right;
  top: 42px;
  z-index: -1;
}

.header__backgroundElem {
  position: absolute;
  background: url(../img/backElem1.svg);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 180px;
  padding-right: 130px;
  padding-top: 28px;
}

.header__top_logo, .header__body_logo {
  font-size: 24px;
  line-height: 27px;
  color: #62D0DF;
}

.header__top_links {
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
  margin-left: 16px;
  padding-bottom: 10px;
}

.header__top_links:hover {
  border-bottom: 2px solid #22356F;
}

.header__top_btn {
  width: 150px;
  height: 50px;
  background: #62D0DF;
  border-radius: 50px;
  border: none;
  outline: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.header__top_btn:hover {
  background: #51bfce;
}

.header__body {
  padding-top: 164px;
  margin-left: 180px;
  width: 484px;
}

.header__body_logo {
  display: block;
  padding-bottom: 38px;
}

.header__body_headText {
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.035em;
  color: #22356F;
  padding-bottom: 68px;
}

.header__body_mainText {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
  font-weight: 400;
  padding-bottom: 64px;
}

.header__body_btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  border: 0;
  background: #F4F9E2;
  margin-bottom: 74px;
}

.header__body_btn:hover {
  background: #e8a52f;
  color: #FFFFFF;
}

.header__body_checkedBtn {
  background: #F9B640;
  color: #FFFFFF;
}

.firstSection {
  min-height: 604px;
  background: #62D0DF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstSection__text {
  width: 555px;
  margin-left: 180px;
  padding-top: 150px;
  padding-bottom: 94px;
}

.firstSection__text_headText {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  margin-bottom: 74px;
}

.firstSection__text_part1 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 40px;
}

.firstSection__text_part2 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
}

.firstSection__img {
  width: 525px;
  height: 604px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.secondSection {
  min-height: 960px;
  background: #FFFFFF;
}

.secondSection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondSection__text_centreText {
  width: 592px;
  margin-top: 150px;
}

.secondSection__text_headText {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356F;
  font-weight: 400;
  margin-top: 156px;
  -webkit-transform: translateX(-225px);
          transform: translateX(-225px);
}

.secondSection__text_mainText {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.005em;
  color: #22356F;
  margin-bottom: 76px;
}

.secondSection__text_bottomText {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  font-weight: 400;
  margin-bottom: 24px;
}

.secondSection__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(256px, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(256px, 360px));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.secondSection__info_ellipse {
  padding-right: 15px;
}

.secondSection__info_block1 {
  background: #FFE2DE;
}

.secondSection__info_block2 {
  background: #C4E769;
}

.secondSection__info_block3 {
  background: #62D0DF;
}

.secondSection__info_block4 {
  background: #0052C1;
}

.secondSection__info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 360px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.secondSection__info_block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(98, 144, 219, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(98, 144, 219, 0.2);
}

.secondSection__info_line {
  width: 255px;
  height: 2px;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
  background: #ffffff;
  margin-top: 72px;
}

.secondSection__info_blockText {
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  margin-top: 24px;
}

.thirdSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 480px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 480px));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thirdSection__block {
  position: relative;
  z-index: 1;
  width: 480px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thirdSection__block:hover .thirdSection__block_firstLayer {
  display: block;
}

.thirdSection__block_ellipse {
  padding-right: 20px;
}

.thirdSection__block_1 {
  background: #22356F;
}

.thirdSection__block_2 {
  background: #0052C1;
}

.thirdSection__block_3 {
  background: #FFE2DE;
}

.thirdSection__block_4 {
  background: #62D0DF;
}

.thirdSection__block_5 {
  background: #DEE1FF;
}

.thirdSection__block_6 {
  background: #8F00FF;
}

.thirdSection__block_line {
  width: 340px;
  height: 2px;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
  background: #ffffff;
  margin-top: 94px;
}

.thirdSection__block_text {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  margin-top: 30px;
  list-style-type: none;
}

.thirdSection__block_firstLayer {
  width: 480px;
  height: 480px;
  position: absolute;
  z-index: -1;
  display: none;
}

.fourthSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 480px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 480px));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 22px;
  margin-bottom: 40px;
}

.fourthSection__block {
  min-height: 240px;
  width: 298px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.fourthSection__block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.fourthSection__block_headText {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
  padding-top: 55px;
  padding-bottom: 28px;
}

.fourthSection__block_mainText {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.fifthSection {
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fifthSection__img {
  width: 480px;
  height: 800px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fifthSection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 175px;
  padding-top: 103px;
  width: 676px;
}

.fifthSection__text_headText {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356F;
  padding-bottom: 225px;
}

.fifthSection__text_mainText {
  font-size: 36px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356F;
  padding-bottom: 176px;
}

.fifthSection__text_mainTextLink {
  color: #62D0DF;
}

.fifthSection__text_link {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
}

.sixthSection {
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #22356F;
}

.sixthSection__img {
  width: 480px;
  height: 800px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sixthSection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 180px;
  padding-top: 103px;
  width: 579px;
}

.sixthSection__text_aboutText {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-bottom: 230px;
}

.sixthSection__text_headText {
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  padding-bottom: 75px;
}

.sixthSection__text_mainText {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  padding-bottom: 64px;
}

.sixthSection__text_link {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62D0DF;
  margin-bottom: 42px;
}

.sevenSection {
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* //////////PAGE Footer\\\\\\\\\\ */
}

.sevenSection__img {
  width: 570px;
  height: 380px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sevenSection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 98px;
  margin-bottom: 42px;
}

.sevenSection__text_headText {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  padding-bottom: 54px;
  color: #22356F;
}

.sevenSection__text_mainText {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
  padding-bottom: 32px;
  width: 207px;
}

.sevenSection__block {
  width: 240px;
}

.sevenSection__block:not(last-child) {
  margin-right: 16px;
}

.sevenSection__block:last-child {
  margin-right: 40px;
}

.footer {
  background-color: #62D0DF;
  height: 80px;
}

.footer__cText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-left: 180px;
}

.footer__cText_sym {
  font-size: 12px;
  color: #FFFFFF;
}

.footer__cText_text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 14px;
  margin-left: 6px;
}
/*# sourceMappingURL=style.css.map */